.crd{
    position : absolute  
}

.crd img {

    position : relative
}


.image{
    width: 100%;
    object-fit: cover;
   
    
}

.m-2{

    background-color: white
}
.m-2 p{
    text-decoration: none;

}


a{

    text-decoration: none;
 
}