.Header{



    background-color : #131A27;
    height: 50px;
    width: 100%;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.Logo{

width : 70px;
margin-left: 20px;
position: relative;



}



.Search{

float : left ;
margin-left: auto;

    
    
}

.Login{

color: ivory;
padding : 10px;



}